{% extends 'base.html' %}

{% block title %}
  Order Detail
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      Order Info
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">order_number</dt>
        <dd class="col-sm-9">{{ item.order_number }}</dd>

        <dt class="col-sm-3">customer_id</dt>
        <dd class="col-sm-9">
          {{ item.customer_id }}
        </dd>

        <dt class="col-sm-3">order_date</dt>
        <dd class="col-sm-9">{{ item.order_date }}</dd>

        <dt class="col-sm-3 text-truncate">order_status</dt>
        <dd class="col-sm-9"><span class="badge badge-info">{{ item.order_status }}</span></dd>

        <dt class="col-sm-3">total_cost</dt>
        <dd class="col-sm-9">
           {{ item.total_cost }}
        </dd>
      </dl>
    </div>
  </div>
  <hr>
  <div class="card">
    <div class="card-header">
      Order Items
    </div>
    <table class="table">
      <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>quantity</th>
        <th>line_total</th>
      </tr>
      </thead>
      <tbody>
        {% for list_of_order_line in item.list_of_order_lines %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ list_of_order_line.item.name }}</td>
            <td>{{ list_of_order_line.item.price }}</td>
            <td>{{ list_of_order_line.quantity }}</td>
            <td>{{ list_of_order_line.line_total }}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock %}
