{% extends 'base.html' %}

{% block title %}
Customer List
{% endblock %}

{% block content %}
  <h3>Customer List</h3>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Cust Address</th>
      <th>Cust Balance</th>
      <th>Max Owing</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item.get_full_name() }}</td>
        <td>{{ item.cust_address }}</td>
        <td>{{ item.cust_balance }}</td>
        <td>{{ item.max_owing }}</td>
        <td>
          <a href="{{ url_for('customer.customer_detail', customer_id=item.id) }}" class="btn btn-primary btn-sm">Detail</a>
        </td>
      </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
